
html,
body{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --fill-screen: calc(100vh - 4em);
  --black: #32292F;
  --white: #FFFFFC;
  --blue: #735CDD;
  --red: #DB2B39;
  --green: #58BC82

}

